<h2>Redefinir senha</h2>

{{#if error}}
  <p style="color: red;">{{error}}</p>
{{/if}}
{{#if success}}
  <p style="color: green;">{{success}}</p>
{{/if}}

<form method="POST" action="/api/sessions/reset-password">
  <input type="email" name="email" placeholder="Email" required><br>
  <input type="password" name="newPassword" placeholder="Nova senha" required><br>
  <button type="submit">Redefinir Senha</button>
</form>
<a href="/login">Voltar ao login</a>